<div class="sidenav"
    [ngClass]="{'sidenav-onCollapsed': !appService.isCollapsed, 'sidenav-offCollapsed': appService.isCollapsed}">
    <div class="logo-container">
        <button class="logo" (click)="toggle()">{{getNombre()[0]}}</button>
        @if (appService.isCollapsed) {
        <div class="logo-text">
            {{getNombre()}}<br>
            <span class="text-xl">{{getRol()}}</span>
        </div>
        }
        @if (appService.isCollapsed) {
        <button style="margin-left: auto;" matTooltip="Cerrar" mat-icon-button (click)="appService.isCollapsed = false">
            <mat-icon style="color: white">close</mat-icon>
        </button>
        }
    </div>
    <ul class="sidenav-nav">
        @for (item of navData; track item) {
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" (click)="navegar(item.routerLink)" [matTooltip]="item.label"
                [matTooltipDisabled]="appService.isCollapsed">
                <mat-icon class="sidenav-link-icon">{{item.icon}}</mat-icon>
                @if (appService.isCollapsed) {
                <span class="sidenav-link-text">
                    {{item.label}}
                </span>
                }
            </a>
        </li>
        }

        @if( this.usuarioService.usuario()?.cod_rol === 'A' || this.usuarioService.usuario()?.cod_rol === 'S'){
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" (click)="navegar('panel-admin/usuarios')" matTooltip="Panel Admin"
                [matTooltipDisabled]="appService.isCollapsed">
                <mat-icon class="sidenav-link-icon">admin_panel_settings</mat-icon>
                @if (appService.isCollapsed) {
                <span class="sidenav-link-text">
                    Panel Admin
                </span>
                }
            </a>
        </li>
        }

        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" (click)="cambiarPass()">
                <mat-icon class="sidenav-link-icon">sync_lock</mat-icon>
                @if (appService.isCollapsed) {
                <span class="sidenav-link-text">
                    Cambiar Contraseña
                </span>
                }
            </a>
        </li>

        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" (click)="logout()">
                <mat-icon class="sidenav-link-icon">logout</mat-icon>
                @if (appService.isCollapsed) {
                <span class="sidenav-link-text">
                    Cerrar Sesión
                </span>
                }
            </a>
        </li>
    </ul>

    {{getRol()}}

    <div class="container__admin">
        <div class="admin">
            <span class="icon__user"><img src="../../../../assets/user.png" alt=""></span>
            <div class="admin__nombre">
                <label class="admin__title">{{getRol()}}</label>
                <label class="admin__nombre">{{getNombre()}}</label>
            </div>
        </div>
        <button mat-mini-fab style="background-color:white; color:  #047CC4;">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <div class="toggle" (click)="toggleNavigation()"></div>-->
    </div>
</div>