@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

table,
th,
td {
    padding: 1rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90vw;
    max-width: 100%;
    height: 90vh;
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .header__input {
        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 190px;

        mat-icon {
            position: absolute;
            left: 1rem;
            fill: #9e9ea7;
        }

        input {
            width: 100%;
            height: 40px;
            line-height: 28px;
            padding: 0 1rem;
            padding-left: 2.5rem;
            border: 2px solid transparent;
            border-radius: 8px;
            outline: none;
            background-color: #0000000B;
            color: #0d0c22;
            transition: 0.3s ease;
        }

        input::placeholder {
            color: #9e9ea7;
        }

        input:focus,
        input:hover {
            outline: none;
            border-color: var(--colorP1);
            background-color: #fff;
        }
    }

    .header__btn button {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: var(--colorP1);
        color: white;
        border: 0;
        padding: 2px 10px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}

.table__body {
    width: 100%;
    margin: 10px auto;
    border-radius: .6rem;
    overflow: auto;

    table {
        width: 100%;

        thead th {
            position: sticky;
            top: 0;
            left: 0;
            background-color: var(--colorP1);
            color: white;
        }

        tbody tr:nth-child(even) {
            background-color: #0000000B;
        }
    }
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

mat-icon{
    color: gray;
}

@media(max-width:1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}