<div class="container">

    <div class="table__header">
        <div class="header__input">

            <mat-icon>search</mat-icon>
            <input type="search" placeholder="Buscar" (input)="onInputChange($event)" />

        </div>
        <div class="header__btn">
            <button (click)="openDialog()">
                <mat-icon>add</mat-icon>
                Añadir
            </button>
        </div>
    </div>
    <div class="table__body">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Fecha de Creación</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (item of panelAdminService.listPaquetes; track $index) {
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.fecha_creacion}}</td>
                    <td>{{item.activo}}</td>
                    <td>
                        @if(item.activo !== "E"){
                        @if(item.activo == "S"){
                        <button mat-icon-button matTooltip="Editar" (click)="openDialog(item)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Eliminar" (click)="eliminar(item, 'N')">
                            <mat-icon>delete</mat-icon>
                        </button>
                        }@else if(item.activo === "N"){
                        <button mat-icon-button matTooltip="Restaurar" (click)="eliminar(item, 'S')">
                            <mat-icon>restart_alt</mat-icon>
                        </button>
                        }
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @if (panelAdminService.listPaquetes.length === 0) {
        <div class="sin-data">
            <mat-icon>hourglass_empty</mat-icon>
            Sin Datos
        </div>
        }
    </div>
</div>