
<div class="rounded-xl overflow-hidden shadow-sm my-4">
    <table class="w-full text-sm text-center text-textos">
        <thead class="text-sm bg-white text-textos uppercase border-b">
            <tr>
                <th scope="col" class="px-6 py-3">N° Guía</th>
                <th scope="col" class="px-6 py-3">Detalle</th>
                <th scope="col" class="px-6 py-3">Clave</th>
                <th scope="col" class="px-6 py-3">Adicional</th>
                <th scope="col" class="px-6 py-3">Precio</th>
                <th scope="col" class="px-6 py-3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of service.listItemRepartos(); track $index) {
            <tr class="bg-white border-b">
                <td class="px-6 py-2">{{item.num_guia}}</td>
                <td class="px-6 py-2">{{item.detalle}}</td>
                <td class="px-6 py-2">{{item.clave}}</td>
                <td class="px-6 py-2">S/{{item.adicional | number:'1.2-2'}}</td>
                <td class="px-6 py-2">S/{{item.precio | number:'1.2-2'}}</td>
                <td class="px-6 py-2">
                    <button mat-icon-button matTooltip="Editar" (click)="editItemReparto(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Eliminar" (click)="deleteItemReparto(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
            }@empty {
            <tr class="bg-white">
                <td colspan="6" class="py-2">
                    <div class="flex flew-row items-center justify-center">
                        <mat-icon>hourglass_empty</mat-icon>
                        Sin Datos
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>