<div class="table">
    <table>
        <thead>
            <tr>
                <th>N° Guía</th>
                <th>Tipo</th>
                <th>Detalle</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of service.listItemRepartos; track $index) {
            <tr>
                <td>{{item.num_guia}}</td>
                <td>{{item?.id_tipo_paquete}}</td>
                <td>{{item?.detalle}}</td>
                <td>{{item?.cant}}</td>
                <td>S/{{item?.precio}}</td>
                <td>
                    <button mat-icon-button matTooltip="Editar" (click)="editItemReparto(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Eliminar" (click)="deleteItemReparto(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    @if (service.listItemRepartos.length === 0) {
    <div class="sin-data">
        <mat-icon>hourglass_empty</mat-icon>
        Sin Datos
    </div>
    }
</div>