
<div class="item">
    <span class="title">Documento:</span>
    <span class="valor">{{cliente?.documento}}</span>
</div>

<div class="item">
    <span class="title">Cliente:</span>
    <span class="valor">{{cliente?.nombres}}</span>
</div>

<div class="item">
    <span class="title">Teléfono:</span>
    <span class="valor">{{cliente?.telefono}}</span>
</div>

<div class="item">
    <span class="title">Distrito:</span>
    <span class="valor">{{cliente?.distrito}}</span>
</div>

<div class="item">
    <span class="title">Dirección:</span>
    <span class="valor">{{cliente?.direc}}</span>
</div>

<div class="item">
    <span class="title">Referencia:</span>
    <span class="valor">{{cliente?.referencia}}</span>
</div>