<span class="text-2xl text-p1 font-bold">Comprobantes</span>

<form [formGroup]="formulario" (submit)="filtrarComprobantes()"
    class="flex flex-col sm:flex-row justify-between items-center my-3">

    <div class="flex flex-col sm:flex-row gap-2">
        <div>
            <label class="block mb-2 text-sm font-medium text-t">Estado</label>
            <select formControlName="estado"
                class="bg-gray-50 border w-48 sm:w-40 border-gray-300 text-t text-sm rounded-lg focus:ring-p1 focus:border-p1 p-2.5">
                <option value="T">TODOS</option>
                <option value="S">ACTIVOS</option>
                <option value="N">INACTIVOS</option>
            </select>
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium text-t">Método de Pago</label>
            <select formControlName="metodoPago"
                class="bg-gray-50 border w-48 sm:w-40 border-gray-300 text-t text-sm rounded-lg focus:ring-p1 focus:border-p1 block p-2.5">
                <option value="T">TODOS</option>
                @for (item of metodoPagoService.listMetodoPago(); track $index) {
                <option [value]="item.id">{{item.nombre | uppercase}}</option>
                }
            </select>
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium text-t">Tipo Documento</label>
            <select formControlName="tipoDoc"
                class="bg-gray-50 border w-48 sm:w-40 border-gray-300 text-t text-sm rounded-lg focus:ring-p1 focus:border-p1 block p-2.5">
                <option value="T">TODOS</option>
                <option value="1">DNI</option>
                <option value="6">RUC</option>
            </select>
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium text-t">Usuario</label>
            <select formControlName="idUser"
                class="bg-gray-50 border w-48 sm:w-40 border-gray-300 text-t text-sm rounded-lg focus:ring-p1 focus:border-p1 block p-2.5">
                <option value="T">TODOS</option>
                @for (item of usuarioService.listUsuarios(); track $index) {
                <option [value]="item.id">{{item.nombres | uppercase}}</option>
                }
            </select>
        </div>
    </div>
    <button type="submit" class="bg-p1 hover:bg-p2 text-white font-semibold py-2 px-4 rounded">
        Buscar
    </button>
</form>

<div class="rounded-xl overflow-hidden shadow-sm mt-3">
    <table class="w-full text-sm text-center rtl:text-right text-textos">
        <thead class="text-sm bg-white text-textos uppercase border-b">
            <tr>
                <th scope="col" class="px-6 py-3">Usuario</th>
                <th scope="col" class="px-6 py-3">Estado</th>
                <th scope="col" class="px-6 py-3">Fecha Emisión</th>
                <th scope="col" class="px-6 py-3">Forma de Pago</th>
                <th scope="col" class="px-6 py-3">Tipo Documento</th>
                <th scope="col" class="px-6 py-3">Documento</th>
                <th scope="col" class="px-6 py-3">Razon Social</th>
                <th scope="col" class="px-6 py-3">Monto</th>
            </tr>
        </thead>
        <tbody>
            @for (item of comprobanteService.listComprobantes(); track $index) {
            <tr class="bg-white border-b">
                <td class="px-6 py-3">{{buscarUsuario(item.id_usuario)}}</td>
                <td class="px-6 py-3">En Revisión</td>
                <td class="px-6 py-3">{{item.fecha_creacion | date: 'dd/MM/yyyy'}}</td>
                <td class="px-6 py-3">{{item.id_metodo_pago | mostrarMetodoPago: metodoPagoService.listMetodoPago()}}
                </td>
                <td class="px-6 py-3">{{item.tipo_doc | mostrarTipoDocumento}}</td>
                <td class="px-6 py-3">{{item.documento}}</td>
                <td class="px-6 py-3">{{item.nombre}}</td>
                <td class="px-6 py-3 font-semibold">S/100</td>
                <!--
                <td class="px-6 py-2">
                    <button mat-icon-button [matMenuTriggerFor]="menuAction" matTooltip="Ver más">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menuAction="matMenu">
                        <button mat-menu-item>
                            <mat-icon>local_shipping</mat-icon>
                            Dar Conformidad
                        </button>
                    </mat-menu>
                </td>
                -->
            </tr>
            }
        </tbody>
    </table>
</div>