<div class="container">
    <div class="row">
        <div class="col-9 custom-border-right">
            <div class="d-flex align-items-center">
                <button mat-icon-button class="align-items-center">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <h2 class="ml-2 mb-0">Generar Comprobante</h2>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">N° Guia</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#000001</td>
                        <td>Sobre</td>
                        <td>Frascos</td>
                        <td>1</td>
                        <td>S/12.00</td>
                    </tr>
                    <tr>
                        <td>#000001</td>
                        <td>Sobre</td>
                        <td>Frascos</td>
                        <td>1</td>
                        <td>S/12.00</td>
                    </tr>
                    <tr>
                        <td>#000001</td>
                        <td>Sobre</td>
                        <td>Frascos</td>
                        <td>1</td>
                        <td>S/12.00</td>
                    </tr>
                </tbody>
            </table>
            <div>
                Total S/42.00
            </div>
        </div>
        <div class="col-3 d-flex align-items-center">
            <h2 class="ml-2 mb-0">Generar Comprobante</h2>
        </div>
    </div>
</div>