<div class="table">
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Cliente</th>
                <th>Creado</th>
                <th>Entregado</th>
                <th>Estado</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if(repartoService.loading()){
            <div class="loader"></div>
            }@else {
            @for (item of repartoService.listRepartos(); track $index) {
            <tr>
                <td>{{item.id | mostrarID}}</td>
                <td>{{item.cliente?.nombres}}</td>
                <td>{{item.fecha_creacion | mostrarFecha}}</td>
                <td>{{item.fecha_entrega | mostrarFecha }}</td>
                <td>
                    <p class="status" [ngClass]="item.estado">{{item.estado | mostrarEstado}}</p>
                </td>
                <td>S/{{item.total}}<br>
                    {{item.id | mostrarComprobante:comprobanteService.listComprobantes()}}
                </td>
                <td>
                    @if(item.activo !== "E"){
                    @if(item.activo == "S"){
                    <button mat-icon-button matTooltip="Detalle" (click)="toDetalle(item.id)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <!--<button mat-icon-button matTooltip="Eliminar" (click)="deleteReparto(item)">
                        <mat-icon>delete</mat-icon>
                    </button>-->
                    }@else if(item.activo === "N"){
                    <!-- / <button mat-icon-button matTooltip="Restaurar" (click)="recuperarReparto(item)">
                        <mat-icon>restart_alt</mat-icon>
                        </button>
                        -->
                    }
                    }
                </td>
            </tr>
            }@empty {
            <tr class="sin-data">
                <td>
                    <mat-icon>hourglass_empty</mat-icon>
                    Sin Datos
                </td>
            </tr>
            }
            }
        </tbody>
    </table>
</div>