<div class="table">
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of listRepartos; track $index) {
            <tr>
                <td>{{formatoId(item.id)}}</td>
                <td>{{item.cliente?.nombres}}</td>
                <td>{{formatDate(item.fecha_creacion)}}</td>
                <td>
                    <p class="status" [ngClass]="item.estado">{{item.estado}}</p>
                </td>
                <td>S/{{item.total}}</td>
                <td>
                    @if(item.activo !== "E"){
                    @if(item.activo == "S"){
                    <button mat-icon-button matTooltip="Detalle" (click)="toDetalle(item.id)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Eliminar">
                        <mat-icon>delete</mat-icon>
                    </button>
                    }@else if(item.activo === "N"){
                    <button mat-icon-button matTooltip="Restaurar">
                        <mat-icon>restart_alt</mat-icon>
                    </button>
                    }
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    @if (listRepartos.length === 0) {
    <div class="sin-data">
        <mat-icon>hourglass_empty</mat-icon>
        Sin Datos
    </div>
    }
</div>