<div class="container">

    <h2 class="w-full font-semibold text-colorP1 text-start">
        @if(data === undefined){
            Agregar Distrito
        }@else {
            Editar Distrito
        }
    </h2>

    <form [formGroup]="formulario">

        <div class="caja">
            <span class="label">Nombre </span>
            <input class="input" type="text" placeholder="Ingrese nombre de distrito" formControlName="nombre">
        </div>
    </form>

    <div class="flex gap-4 mt-4">
        <app-boton text="Cancelar" (click)="closeDialog()"></app-boton>
        <app-boton text="Guardar" (click)="guardar()"></app-boton>
    </div>
</div>