<div class="card-item">
    <h2>Item {{index+1}}</h2>
    <div class="content">
        <div class="left">
            <p>N Guia:</p>
            <p>Detalle:</p>
        </div>
        <div class="right">
            <p>{{item?.num_guia || 'Sin Guía'}}</p>
            <p>{{item?.detalle || 'Sin Detalle'}}</p>
        </div>
    </div>
    <hr>
    <div class="container2 mt-2">
        <div>
            <mat-icon>inventory_2</mat-icon>
            <span>Adicional: S/{{item?.adicional}}</span>
        </div>
        <div>
            <mat-icon>payments</mat-icon>
            <span>Precio: S/{{item?.precio}}</span>
        </div>
    </div>
</div>