<div class="container">

    <h1>
        Agregar Item Reparto
    </h1>

    <form [formGroup]="formulario">

        <div class="caja">
            <span class="label">N° de guia </span>
            <input class="input" type="text" placeholder="Ingrese número de guía" formControlName="num_guia">
        </div>

        <div class="caja">
            <span class="label">Tipo </span>
            <select formControlName="id_tipo_paquete">
                @for (item of paqueteService.listTipoPaquetes(); track $index) {
                    <option [value]="item.id">{{item.nombre}}</option>
                }
            </select>
        </div>

        <div class="caja">
            <span class="label">Detalle </span>
            <input class="input" type="text" placeholder="Ingrese detalle" formControlName="detalle">
        </div>

        <div class="caja">
            <span class="label">Cantidad </span>
            <input class="input" type="number" placeholder="Ingrese cantidad" formControlName="cant">
        </div>

        <div class="caja">
            <span class="label">Precio </span>
            <input class="input" type="number" placeholder="Ingrese precio total" formControlName="precio">
        </div>

    </form>


    <div class="actions">
        <button (click)="closeDialog()">Cancelar</button>
        <button (click)="onAceptar()">Guardar</button>
    </div>



</div>