$color-textos: #808080;
$color-fondo: #f1f1f1;
$color-boton1: #05acd7;
$color-btn-off: #e8e8e8;

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;

  h1 {
    color: var(--colorP1);
    font-weight: 600;
    text-align: start;
    width: 100%;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .caja {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .label {
      width: 30%;
      display: block;
      font-size: 18px;
      color: $color-textos;
      font-weight: 500;
    }

    .input, select{
      width: 70%;
      padding: 8px 15px;
      border: 2px solid $color-fondo;
      background-color: $color-fondo;
      color: $color-textos;
      border-radius: 10px;
      font-size: 16px;

      &:focus {
        outline: none;
        border-color: var(--colorP1);
      }
    }

    @media (max-width: 768px) {
      .label {
        display: none;
      }

      .input, select {
        width: 100%;
      }
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  button {
    width: 150px;
    height: 40px;
    border: 0;
    padding: 8px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &:first-child {
      background-color: $color-btn-off;
      color: $color-textos;
      &:hover {
        background-color: darken($color-btn-off, 10%);
      }
    }

    &:last-child {
      background-color: $color-boton1;
      color: white;
      &:hover {
        background-color: darken($color-boton1, 10%);
      }
    }
  }
}
