<div class="container">

    <h1>
        Item Reparto
    </h1>

    <div class="form">

        <div class="caja">
            <span class="label">N° de guia</span>
            <input class="input" type="text" placeholder="Ingrese número de guía" [(ngModel)]="num_guia">
        </div>

        <div class="caja">
            <span class="label">Precio</span>
            <input class="input numerico" type="number" placeholder="Ingrese precio total" [(ngModel)]="precio">
        </div>

        <div class="caja">
            <span class="label">Adicional</span>
            <input class="input numerico" type="number" placeholder="Ingrese cobro adicional" [(ngModel)]="adicional">
        </div>

        <div class="caja">
            <span class="label">Clave</span>
            <input class="input" type="text" placeholder="Ingrese clave" [(ngModel)]="clave">
        </div>

        <div class="flex flex-col gap-1">
            <span class="text-lg font-medium text-textos">Detalle</span>
            <textarea [(ngModel)]="detalle" class="bg-fondo rounded-xl border-hidden" placeholder="Ingresa descripción del pedido" cols="20" rows="10"></textarea>
        </div>

    </div>

    <div class="actions">
        <button (click)="closeDialog()">Cancelar</button>
        <button (click)="onAceptar()">Guardar</button>
    </div>

</div>