<div class="container">
    <div class="mt-3">
        <h2><strong style="color: var(--colorP1);">Agregar Cliente</strong></h2>
    </div>

    <form [formGroup]="formulario">

        <div class="input-group mb-3">

            <span class="input-group-text">
                <mat-icon>description</mat-icon>
            </span>
            <input type="text" class="form-control" placeholder="Numero de Guia" formControlName="nGuia">

            <span class="input-group-text ms-2">
                <mat-icon>inventory_2</mat-icon>
            </span>
            <select class="form-select" formControlName="tipoPaquete">
                @for (item of listTipoPaquete; track $index) {
                <option [value]="item.id">{{item.nombre}}</option>
                }
            </select>


        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <mat-icon>notes</mat-icon>
            </span>
            <input type="text" class="form-control" placeholder="Detalle" formControlName="descrip">

        </div>

        <div class="input-group mb-3">

            <span class="input-group-text">
                <mat-icon>shopping_cart</mat-icon>
            </span>
            <input type="number" class="form-control" placeholder="Cantidad" formControlName="cant">

            <span class="input-group-text ms-2">
                <mat-icon>sell</mat-icon>
            </span>
            <input type="number" class="form-control" placeholder="Precio Total" formControlName="precio">

        </div>
    </form>


    <div class="d-flex justify-content-end mt-3 mb-3">
        <button type="button" (click)="closeDialog()" class="btn btn-secondary">Cancelar</button>
        &nbsp;
        <button type="button" (click)="onAceptar()" [disabled]="!formulario.valid"
            class="btn btn-primary">Guardar</button>
    </div>



</div>