

.caja {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;

    .label {
        width: 30%;
        display: block;
        font-size: 18px;
        color: #808080;
    }

    .input {
        width: 70%;
    }

    @media (max-width: 768px) {
        .label {
            display: none;
        }

        .input {
            width: 100%;
        }
    }

}