<div class="container">
    <h1>
        @if(data === undefined){
        Agregar Usuario
        }@else {
        Editar Usuario
        }
    </h1>
    <form [formGroup]="formulario" (submit)="guardar()">

        <div class="caja">
            <span class="label">N° Documento </span>
            <div class="input">
                <input type="text" maxlength="8" (keypress)="numerico($event)" placeholder="Ingrese número de doc"
                    formControlName="documento">
                @if(formulario.get('documento')?.touched){
                @if (formulario.get('documento')?.hasError('required')) {
                <span>Campo Obligatorio</span>
                }
                @if (formulario.get('documento')?.hasError('minlength')) {
                <span>El número de documento debe tener 8 dígitos</span>
                }
                }
            </div>
        </div>

        <div class="caja">
            <span class="label">Nombres </span>
            <div class="input">
                <input type="text" placeholder="Ingrese nombres" formControlName="nombres">
            </div>
        </div>

        <div class="caja">
            <span class="label"> Apellidos </span>
            <div class="input">
                <input type="text" placeholder="Ingrese apellidos" formControlName="apellidos">
            </div>
        </div>

        <div class="caja">
            <span class="label"> Teléfono </span>
            <div class="input">
                <input type="text" placeholder="Ingrese teléfono" maxlength="9" (keypress)="numerico($event)"
                    formControlName="telefono">
                @if (formulario.get('telefono')?.touched){
                @if (formulario.get('telefono')?.hasError('minlength')) {
                <span>El número de teléfono debe tener al menos 9 dígitos</span>
                }
                }
            </div>
        </div>

        <div class="caja">
            <span class="label"> Correo </span>
            <div class="input">
                <input type="email" placeholder="Ingrese correo electrónico" formControlName="correo">
            </div>
        </div>

        <div class="caja">
            <span class="label"> Fecha Nacimiento </span>
            <div class="input">
                <input type="date" placeholder="Ingrese fecha de nacimiento" formControlName="fecha_nac">
            </div>
        </div>

        <!--Seleccionar Distrito-->
        <div class="caja">
            <span class="label">Rol</span>
            <div class="input">
                <select formControlName="cod_rol">
                    <option value="A">Admin</option>
                    <option value="U">Usuario</option>
                    <option value="D">Delivery</option>
                </select>
            </div>
        </div>

        <div class="actions">
            <button type="button" (click)="closeDialog()">Cancelar</button>
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>