<h1>Panel Administrativo</h1>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
            Usuarios
        </ng-template>
        <app-usuarios></app-usuarios>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>maps</mat-icon>
            Destinos
        </ng-template>
        <app-destinos></app-destinos>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>description</mat-icon>
            Paquetes
        </ng-template>
        <app-paquetes></app-paquetes>
    </mat-tab>
</mat-tab-group>