<h1>Panel Administrativo</h1>
<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200">
    <ul class="flex flex-wrap -mb-px">
        @for (item of data; track $index) {
        <li class="me-2">
            <button (click)="navegar(item.url)"
                [ngClass]="{'active text-p1 border-b-2 border-p1 rounded-t-lg': item.url === url}"
                class="inline-block text-lg p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 ">{{item.label}}
            </button>
        </li>
        }
    </ul>
</div>
<router-outlet></router-outlet>