<h1>Panel Administrativo</h1>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>group</mat-icon>
            &nbsp;
            Usuarios
        </ng-template>
        <app-usuarios></app-usuarios>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>near_me</mat-icon>
            &nbsp;
            Distritos
        </ng-template>
        <app-destinos></app-destinos>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>inventory_2</mat-icon>
            &nbsp;
            Tipo de Paquetes
        </ng-template>
        <app-paquetes></app-paquetes>
    </mat-tab>
</mat-tab-group>