<div class="flex flex-col gap-2">
  <div class="flex flex-col items-end gap-4 md:items-center md:flex-row">
    @if(!service.cliente()){
    <!-- Buscador -->
    <div class="relative w-full md:w-[600px]">
      <form
        [formGroup]="formulario"
        (submit)="search()"
        class="flex flex-row items-center w-full rounded-xl bg-colorFondo"
      >
        <input
          type="text"
          class="flex-1 bg-transparent border-0 outline-none ring-0 focus:outline-none focus:ring-0 focus:border-0"
          placeholder="Buscar por documento o nombre"
          required
          formControlName="buscador"
        />
        @if (showSugerencias) {
        <button (click)="clear()" matTooltip="Limpiar" mat-icon-button>
          <mat-icon matt class="text-textos">close</mat-icon>
        </button>
        } @else {
        <button type="submit" matTooltip="Buscar" mat-icon-button>
          <mat-icon matt class="text-textos">search</mat-icon>
        </button>
        }
      </form>
      <div class="absolute z-10 w-full rounded-lg bg-colorGrey">
        <ul *ngIf="showSugerencias">
          @for (item of data$; track $index) {
          <li
            (click)="selectCliente(item)"
            class="px-2 py-1 text-lg text-white hover:bg-colorP1"
          >
            {{ item.nombres | uppercase }}
          </li>
          } @if (data$.length === 0 && !service.cliente()) {
          <li>No se encontraron resultados</li>
          }
        </ul>
      </div>
    </div>

    <!-- Boton Agregar -->
    <app-boton icon="person_add" text="Agregar" (clickEvent)="openDialogCliente()" />
    }
  </div>

  @if (service.cliente()) {
  <div class="flex flex-row items-center justify-end gap-4">
    <app-boton
      icon="close"
      text="Limpiar"
      (clickEvent)="borrarCliente()"
    ></app-boton>
    <app-boton
      icon="edit"
      text="Editar"
      (clickEvent)="openDialogCliente()"
    ></app-boton>
  </div>

  <app-detalle-cliente
    icon="description"
    label="Documento"
    [text]="service.cliente()?.documento"
  />
  <app-detalle-cliente
    icon="person"
    label="Cliente"
    [text]="service.cliente()?.nombres"
  />
  <app-detalle-cliente
    icon="call"
    label="Celular"
    [text]="service.cliente()?.telefono"
  />
  <app-detalle-cliente
    icon="location_on"
    label="Distrito"
    [text]="service.cliente()?.distrito"
  />
  <app-detalle-cliente
    icon="apartment"
    label="Dirección"
    [text]="service.cliente()?.direc"
  />
  <app-detalle-cliente
    icon="assistant_direction"
    label="Referencia"
    [text]="service.cliente()?.referencia"
  />
  }
</div>
