<div class="rounded-xl overflow-hidden shadow-sm mt-3">
    <table class="w-full text-sm text-center rtl:text-right text-textos">
        <thead class="text-sm bg-white text-textos uppercase border-b">
            <tr>
                <th scope="col" class="px-6 py-3">Nombres</th>
                <th scope="col" class="px-6 py-3">Tipo</th>
                <th scope="col" class="px-6 py-3">Documento</th>
                <th scope="col" class="px-6 py-3">Dirección</th>
                <th scope="col" class="px-6 py-3">Teléfono</th>
                <th scope="col" class="px-6 py-3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of listClientes; track $index) {
            <tr class="bg-white border-b">
                <td class="px-6 py-4">{{item.nombres}}</td>
                <td class="px-6 py-4">{{item.documento}}</td>
                <td class="px-6 py-4">{{item.documento}}</td>
                <td class="px-6 py-4">{{item.direc}}</td>
                <td class="px-6 py-4">{{item.telefono}}</td>
                <td class="px-6 py-4">
                    @if(item.activo == "S"){
                    <button mat-icon-button matTooltip="Editar" (click)="editCliente(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Eliminar" (click)="eliminar(item, 'N')">
                        <mat-icon>delete</mat-icon>
                    </button>
                    }@else if(item.activo === "N"){
                    <button mat-icon-button matTooltip="Restaurar" (click)="eliminar(item, 'S')">
                        <mat-icon>restart_alt</mat-icon>
                    </button>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>