<div class="flex flex-row items-center justify-between my-3">
    <select [formControl]="estado"
        class="bg-gray-50 border border-gray-300 text-textos text-sm rounded-lg focus:ring-p1 focus:border-p1 p-2.5">
        <option value="S">Activos</option>
        <option value="N">Inactivos</option>
    </select>
    <button (click)="openDialog()" class="px-4 py-2 font-semibold text-white rounded bg-p1 hover:bg-p2">
        Añadir
    </button>
</div>

<div class="overflow-x-auto shadow-sm rounded-xl">
    <table class="w-full text-sm text-center text-textos">
        <thead class="text-sm uppercase bg-white border-b text-textos">
            <tr>
                <th scope="col" class="px-6 py-3">Detalle</th>
                <th scope="col" class="px-6 py-3">Estado</th>
                <th scope="col" class="px-6 py-3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if(metodoPagoService.loading()){
            <tr class="bg-white border-b">
                <td colspan="7" class="py-3">
                    <div class="flex items-center justify-center">
                        <div class="loader"></div>
                    </div>
                </td>
            </tr>
            }@else {
            @for (item of metodoPagoService.listMetodoPago(); track $index) {
            <tr class="text-center bg-white border-b">
                <td class="px-6 py-2">{{item.nombre | uppercase}}</td>
                <td class="px-6 py-2">
                    <div class="flex flex-row items-center justify-center">
                        <div [ngClass]="{'bg-green-500': item.activo == 'S', 'bg-red-500': item.activo == 'N'}"
                            class="h-2.5 w-2.5 rounded-full me-2"></div>
                        {{item.activo | mostrarActivo}}
                    </div>
                </td>
                <td class="px-6 py-2">
                    @if(item.activo == "S"){
                    <button mat-icon-button matTooltip="Editar" (click)="openDialog(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Eliminar" (click)="eliminar(item, 'N')">
                        <mat-icon>delete</mat-icon>
                    </button>
                    }@else if(item.activo === "N"){
                    <button mat-icon-button matTooltip="Restaurar" (click)="eliminar(item, 'S')">
                        <mat-icon>restart_alt</mat-icon>
                    </button>
                    }
                </td>
            </tr>
            } @empty {
            <tr class="bg-white border-b">
                <td colspan="7" class="py-2">
                    <div class="flex items-center justify-center flew-row">
                        <mat-icon>hourglass_empty</mat-icon>
                        Sin Datos
                    </div>
                </td>
            </tr>
            }
            }
        </tbody>
    </table>
</div>