.switch-container {
    display: flex;
}

.switch-container button {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: ease-in 0.3s, color 0.3s;
}

.switch-container button.active {
    background-color: blue;
    color: white;
}