<div class="cuerpo">
    <div class="uno">
        <div class="top">
            <button mat-icon-button matTooltip="Volver" (click)="back()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span>Generar Comprobante</span>
        </div>

        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">N° Reparto</th>
                    <th scope="col" class="px-6 py-3">Cliente</th>
                    <th scope="col" class="px-6 py-3">Contenido</th>
                    <th scope="col" class="px-6 py-3">Precio</th>
                </tr>
            </thead>
            <tbody>

                @for (item of generarComprobanteService.listRepartos(); track $index) {
                <tr class="bg-white border-b">
                    <td class="px-6 py-4">#{{item.num_reparto| formatNum:6}}</td>
                    <td class="px-6 py-4">{{item.cliente?.nombres}}</td>
                    <td class="px-6 py-4">
                        {{item.items | mostrarContenido}}
                    </td>
                    <td class="px-6 py-4">S/{{item.total | number:'1.2-2'}}</td>
                </tr>
                }
            </tbody>
        </table>

        <div class="total">
            <span>Total</span>
            <span>S/{{getTotal() | number:"1.2-2"}}</span>
        </div>

    </div>
    <div class="dos">
        <h2>Datos de comprobante:</h2>
        <!-- Tipo de Comprobante RadioButtons-->
        <div class="tipo_comprobante">
            <div class="flex items-center">
                <input id="default-radio-2" type="radio" name="default-radio" (change)="setTipoComprobante(1)"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-radio-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Factura
                </label>
            </div>
            <div class="flex items-center">
                <input checked id="default-radio-1" type="radio" name="default-radio" (change)="setTipoComprobante(2)"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-radio-1"
                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Boleta</label>
            </div>
        </div>

        <!--Metodo de Pago-->

        <div class="num_comprobante">
            <div class="box">
                <span class="text-sm font-medium text-gray-900">
                    N° Serie
                </span>
                <span>
                    @if (tipoComprobante() == 2) {
                    {{serie_b()}}
                    }@else if(tipoComprobante() == 1) {
                    {{serie_f()}}
                    }
                </span>
            </div>
            <div class="box">
                <span class="text-sm font-medium text-gray-900">
                    @if (tipoComprobante() == 2) {N° Boleta}
                    @else if (tipoComprobante() == 1) {N° Factura}
                </span>
                <span>
                    @if (tipoComprobante() == 2) {
                    {{num_b() | formatNum:8}}
                    }@else if(tipoComprobante() == 1) {
                    {{num_f() | formatNum:8}}
                    }
                </span>
            </div>
        </div>

        <form [formGroup]="formulario">

            <div class="flex mt-2 justify-between gap-2">

                <div class="w-full">
                    <label class=" block mb-2 text-sm font-medium text-gray-900">
                        Tipo de Pago</label>
                    <select formControlName="metodoPago"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                        @for (item of metodoPagoService.listMetodoPago(); track $index) {
                        <option [value]="item.id">{{item.nombre}}</option>
                        }
                    </select>
                </div>
                <div class="w-full">
                    <label class="block mb-2 text-sm font-medium text-gray-900">
                        N° Operación
                    </label>
                    <input type="text" formControlName="num_operacion"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>
            </div>


            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    @if (tipoComprobante() == 2) { Dni }
                    @else if (tipoComprobante() == 1) { Ruc }
                    @else { Documento }
                </label>
                <div class="relative">
                    <input type="number" formControlName="doc"
                        class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 "
                        placeholder="Ingresar documento" required>
                    <button matTooltip="Buscar"
                        class="absolute top-0 end-0 p-2.5 h-full text-sm font-medium text-white  rounded-e-lg"
                        style="background-color: var(--colorP1);" (click)="buscarDoc()">
                        @if (isLoadingSearchDoc()) {
                        <mat-spinner diameter="20" style="color: white;"></mat-spinner>

                        }@else{
                        <mat-icon>search</mat-icon>
                        }
                    </button>
                </div>
            </div>


            <div>
                <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    @if (tipoComprobante() == 2) { Nombre }
                    @else if (tipoComprobante() == 1) { Razón Social }
                </label>
                <input type="text" id="default-input" formControlName="nombre"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dirección</label>
                <input type="text" formControlName="direc"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
                <input type="text" formControlName="correo"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
                <input type="text" formControlName="telefono"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>

        </form>
        <button (click)="generarComprobante()" class="text-white font-medium rounded-lg text-sm px-5 py-2.5 mb-2"
            style="background-color: var(--colorP1);">Generar
            Comprobante</button>


    </div>
</div>