<div class="flex flex-col gap-4 md:flex-row">
    <div class="flex flex-col flex-[2] gap-3 px-4">
        <div class="flex flex-row items-center text-p1">
            <button mat-icon-button (click)="back()" matTooltip="Volver">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span class="text-xl font-bold text-p1">Detalle de Reparto</span>
        </div>

        <div class="flex flex-col items-start justify-between text-lg font-semibold md:items-center md:flex-row text-textos">
            Datos del Cliente
            <span class="mr-1">N° Reparto #{{service.reparto()?.num_reparto | formatNum:6}}</span>
        </div>

        <!--Datos del Cliente-->
        <div>
            <app-detalle-item title="Documento:" [descrip]="service.reparto()?.cliente?.documento"></app-detalle-item>
            <app-detalle-item title="Cliente:"
                [descrip]="service.reparto()?.cliente?.nombres | uppercase"></app-detalle-item>
            <app-detalle-item title="Teléfono:"
                [descrip]="service.reparto()?.cliente?.telefono | formatTelf"></app-detalle-item>
            <app-detalle-item title="Distrito:"
                [descrip]="service.reparto()?.cliente?.distrito | uppercase"></app-detalle-item>
            <app-detalle-item title="Dirección:"
                [descrip]="service.reparto()?.cliente?.direc | uppercase"></app-detalle-item>
            <app-detalle-item title="Referencia:"
                [descrip]="service.reparto()?.cliente?.referencia | uppercase"></app-detalle-item>
        </div>

        <hr class="my-2 border-t border-gray-200">

        <!--Detalle de Reparto-->
        @for (item of service.reparto()?.items; track item.id; let idx = $index) {
        <app-card-item [item]="item" [index]="idx"></app-card-item>
        }
    </div>
    <!--Datos de Entrega-->
    <div class="flex-1">
        <span class="text-lg font-semibold text-textos">Datos de Entrega:</span>

        <div>
            <app-detalle-item title="Estado" [descrip]="service.reparto()?.estado | mostrarEstado"></app-detalle-item>
            <app-detalle-item title="Total" [descrip]="'S/ ' + (service.reparto()?.total | number:'1.2-2')" />
            @if (service.reparto()?.id_comprobante) {
            <app-detalle-item title="Comprobante"
                [descrip]="comprobante()?.serie + ' - '+ comprobante()?.num_serie"></app-detalle-item>
            }@else {

            <app-detalle-item title="Comprobante" descrip="Sin Comprobante"></app-detalle-item>
            }

            <!--
            @if (service.reparto()?.url_foto) {
                <img [src]="service.reparto()?.url_foto" alt="">
            }
            -->
        </div>

        <table class="w-full text-sm text-textos">
            <thead class="text-sm uppercase bg-white border-b text-textos">
                <tr>
                    <th scope="col" class="px-6 py-3">Usuario</th>
                    <th scope="col" class="px-6 py-3">Operacion</th>
                    <th scope="col" class="px-6 py-3">Fecha</th>
                </tr>
            </thead>
            <tbody>
                @if(false){
                <tr class="bg-white border-b">
                    <td colspan="7" class="py-3">
                        <div class="flex items-center justify-center">
                            <div class="loader"></div>
                        </div>
                    </td>
                </tr>
                }@else {

                @for (item of service.reparto()?.historial; track $index) {
                <tr class="text-center bg-white border-b">
                    <td class="px-6 py-2">{{item.nombre}}</td>
                    <td class="px-6 py-2">{{item.tipo_operacion}}</td>
                    <td class="px-6 py-2">
                        <div class="flex flex-col items-center justify-center">
                            <div>
                                {{item.fecha | date: 'dd/MM/yyyy'}}
                            </div>
                            <div>
                                {{item.fecha | date: 'hh:mm a'}}
                            </div>
                        </div>
                    </td>
                </tr>
                } @empty {
                <tr class="bg-white border-b">
                    <td colspan="7" class="py-2">
                        <div class="flex items-center justify-center flew-row">
                            <mat-icon>hourglass_empty</mat-icon>
                            Sin Datos
                        </div>
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>

    </div>
</div>