<div class="cuerpo">
    <div class="uno border-right">
        <div class="d-flex align-items-center">
            <button mat-icon-button class="align-items-center" (click)="back()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h2 class="ml-2 mb-0">Detalle de Reparto</h2>
        </div>

        <div class="container_title">
            <div class="container_title_content">
                <span>N° Reparto</span>
                #000{{service.reparto?.id}}
            </div>
            <div class="container_title_content">
                <span>Usuario:</span>
                {{service.reparto?.usuario?.nombres}}
            </div>
        </div>

        <app-detalle-cliente [cliente]="service.reparto?.cliente"></app-detalle-cliente>

        <hr style="margin-top: 30px; margin-bottom: 30px;">

        @for (item of reparto?.items; track item.id; let idx = $index) {
            <app-card-item [item]="item" [index]="idx"></app-card-item>
        }
    </div>
    <div class="dos">
        <h2>Datos de Entrega:</h2>
        <div class="card-estado">
            <span class="title">Estado:</span>
            <span class="content">Entregado</span>
        </div>
        <span class="total">
            Total
        </span>
        <button (click)="toGenerarComprobante()">Generar Comprobante</button>
    </div>
</div>