.btn-actions {
    display: flex;
    flex-direction: row-reverse;
}

.btn-actions mat-icon {
    color: var(--colorP1);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.title h1 {
    margin: 0;
    color: var(--colorP1);
    font-weight: 500;
}


.btn {
    background-color: var(--colorP1);
    color: white;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

.btn:hover {
    color: var(--colorP1);
    background-color: white;
}

.btn:active {
    background-color: var(--colorP1);
    color: white;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}