<div class="flex flex-row justify-between items-center pb-3">
    <span class="text-2xl text-p1 font-semibold">Clientes</span>
    <div>
        <button mat-icon-button matTooltip="Exportar" (click)="exportar()">
            <img src="../../../assets/ic_export.svg" alt="">
        </button>
    </div>
</div>

<div class="flex justify-end">
    <button (click)="openDialog()" class="bg-p1 hover:bg-p2 text-white font-semibold py-2 px-4 rounded">
        Agregar
    </button>
</div>
<!--
    <app-filtros></app-filtros>
    -->

<app-tabla></app-tabla>