<div class="container">

    <div class="container__fecha">

        <div class="btn__icon__user d-flex justify-content-between">
            <button mat-raised-button (click)="agregar()" style="background-color: #047CC4; color: white;">
                Añadir Reparto
            </button>
            <div class="d-flex">
                <button mat-icon-button matTooltip="Exportar">
                    <mat-icon style="color: #047CC4;">save_alt</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Perfil">
                    <mat-icon style="color: #047CC4;">person_outline</mat-icon>
                </button>
            </div>
        </div>

        <!--
        <div class="container__input__clientes">
            <div class="input__clientes">

                <div class="input__search">
                    <label for="">Documento</label>
                    <div class="container__input">
                        <input type="text" class="search-input" placeholder="RUC, DNI, Pasaporte">
                    </div>
                </div>

                <div class="container__1">
                    <label for="">Fechas</label>
                    <div class="input-container">
                        <input type="text" id="from" placeholder="Desde" [matDatepicker]="picker1"
                            (click)="picker1.open()" readonly>
                        <i class="material-icons" (click)="picker1.open()">calendar_today</i>
                        <mat-datepicker #picker1></mat-datepicker>
                    </div>

                    <div class="input-container">
                        <input type="text" id="to" placeholder="Hasta" [matDatepicker]="picker2"
                            (click)="picker2.open()" readonly>
                        <i class="material-icons" (click)="picker2.open()">calendar_today</i>
                        <mat-datepicker #picker2></mat-datepicker>
                    </div>
                </div>

            </div>



            <div class="date-input">

                <div class="input__search">
                    <label for="">Cliente</label>
                    <div class="container__input">
                        <input type="text" class="search-input" placeholder="Nombres, Razón social">
                    </div>
                </div>

                <div class="input__search">
                    <label for="">Estado</label>
                    <div style="display: flex; gap: 6px; align-items: center;" class="container__input">
                        <select type="text" class="search-input">
                            <option value="">ejm</option>
                            <option value="">ejm</option>
                            <option value="">ejm</option>
                        </select>
                        <div class="icon__search">
                            <a href="">
                                <mat-icon class="search">search</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
-->

        <form [formGroup]="formulario" (submit)="filtrar()">

            <div class="input-group mb-3">
                <span class="input-group-text"><mat-icon>assignment_ind</mat-icon></span>
                <select class="form-select" formControlName="tipoDoc">
                    <option selected>Todos</option>
                    <option>RUC</option>
                    <option>DNI</option>
                    <option>CE</option>
                </select>
                <span class="input-group-text ms-2"><mat-icon>badge</mat-icon></span>
                <input type="text" class="form-control" placeholder="Documento" formControlName="doc">

                <span class="input-group-text ms-2"><mat-icon>person</mat-icon></span>
                <input type="text" class="form-control" placeholder="Nombre Legal" formControlName="nombres">


                <span class="input-group-text ms-2"><mat-icon (click)="picker1.open()">date_range</mat-icon></span>
                <input class="input-group-text" type="text" placeholder="Desde: 23/11/2023" [matDatepicker]="picker1"
                    (click)="picker1.open()" readonly formControlName="desde">
                <mat-datepicker #picker1></mat-datepicker>

                <span class="input-group-text ms-2"><mat-icon (click)="picker1.open()">date_range</mat-icon></span>
                <input class="input-group-text" type="text" placeholder="Hasta: 23/11/2023" [matDatepicker]="picker2"
                    (click)="picker2.open()" readonly formControlName="hasta">
                <mat-datepicker #picker2></mat-datepicker>
            </div>

            <div class="input-group">

                <span class="input-group-text"><mat-icon>groups</mat-icon></span>
                <select class="form-select" formControlName="usuarios">
                    <option selected>Todos</option>
                    <option>Joel Maldonado</option>
                    <option>Adriel Albino</option>
                    <option>Jeyson Mendoza</option>
                </select>

                <span class="input-group-text ms-2"><mat-icon>push_pin</mat-icon></span>
                <select class="form-select" formControlName="distritos">
                    <option selected>Todos</option>
                    <option>Chincha Alta</option>
                    <option>Chincha Baja</option>
                    <option>Tambo de Mora</option>
                </select>

                <span class="input-group-text ms-2"><mat-icon>description</mat-icon></span>
                <select class="form-select" formControlName="tipoComprobante">
                    <option selected>Todos</option>
                    <option>Boleta</option>
                    <option>Factura</option>
                    <option>Anulado</option>
                </select>

                <span class="input-group-text ms-2"><mat-icon>local_shipping</mat-icon></span>
                <select class="form-select" formControlName="estado">
                    <option selected>Todos</option>
                    <option>Pendiente</option>
                    <option>Completado</option>
                    <option>Anulado</option>
                </select>
                <button type="submit" class="btn btn-primary ms-2">Buscar</button>
            </div>
        </form>

    </div>

    <table mat-table [dataSource]="listRepartos">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>N° Reparto</th>
            <td mat-cell *matCellDef="let item">
                {{formatoId(item.id)}} <br />
                C° -
            </td>
        </ng-container>
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="nombres">Cliente</th>
            <td mat-cell *matCellDef="let item">{{item.cliente?.nombres}}
            </td>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let item">{{formatDate(item.fecha_nac)}}</td>
        </ng-container>
        <ng-container matColumnDef="flete">
            <th mat-header-cell *matHeaderCellDef>Flete</th>
            <td mat-cell *matCellDef="let item">S/{{item.total}} </td>
        </ng-container>
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let item">
                <span class="item__estado"
                    [ngStyle]="{'background-color': getColor(item.estado)}">{{getEstado(item.estado)}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="act">
            <th mat-header-cell *matHeaderCellDef><mat-icon>menu</mat-icon></th>
            <td mat-cell *matCellDef="let item">
                <div class="estado-content">
                    <div class="estado-icons">
                        <button class="btn__icon" mat-icon-button matTooltip="Ver más" [matMenuTriggerFor]="mas">
                            <mat-icon class="icon__horizontal larger-icon">more_horiz</mat-icon>
                        </button>

                        <mat-menu #mas="matMenu">
                            <button mat-menu-item (click)="openDetalle()">
                                <mat-icon color="primary">visibility</mat-icon>
                                <span>Ver Detalle</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon color="warn">delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                            <button mat-menu-item (click)="generarComprobante()">
                                <mat-icon>description</mat-icon>
                                <span>Generar Comprobante</span>
                            </button>
                        </mat-menu>
                    </div>

                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row = index; columns: columnas;"
            [ngStyle]="{'background-color': row % 2 === 0 ? '#ffffff' : '#f8f8f8'}" style="height: 70px;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>