<div class="container">

    <div class="container__fecha">

        <div class="btn__icon__user d-flex justify-content-between">

            <div class="d-flex">
                <button mat-icon-button matTooltip="Exportar">
                    <mat-icon style="color: #047CC4;">save_alt</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Perfil">
                    <mat-icon style="color: #047CC4;">person_outline</mat-icon>
                </button>
            </div>
        </div>

        <!--

        <form [formGroup]="formulario" (submit)="filtrar()">

            <div class="input-group mb-3">
                <span class="input-group-text"><mat-icon>assignment_ind</mat-icon></span>
                <select class="form-select" formControlName="tipoDoc">
                    <option selected>Todos</option>
                    @for (item of listTipoDocumento; track $index) {
                    <option>{{item.detalle}}</option>
                    }
                </select>
                <span class="input-group-text ms-2"><mat-icon>badge</mat-icon></span>
                <input type="text" class="form-control" placeholder="Documento" formControlName="doc">

                <span class="input-group-text ms-2"><mat-icon>person</mat-icon></span>
                <input type="text" class="form-control" placeholder="Nombre Legal" formControlName="nombres">

                <div date-rangepicker class="flex items-center">
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <mat-icon class="mat-18">calendar_month</mat-icon>
                        </div>
                        <input name="start" type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Select date start">
                    </div>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">

                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <mat-icon class="mat-18">calendar_month</mat-icon>
                            </div>
                        </div>
                        <input name="end" type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Select date end">
                    </div>
                </div>
            </div>



            <div class="input-group">

                <span class="input-group-text"><mat-icon>groups</mat-icon></span>
                <select class="form-select" formControlName="usuarios">
                    <option selected>Todos</option>
                    @for (item of listUsuario; track $index) {
                    <option>{{item.nombres}}</option>
                    }
                </select>

                <span class="input-group-text ms-2"><mat-icon>push_pin</mat-icon></span>
                <select class="form-select" formControlName="distritos">
                    <option selected>Todos</option>
                    @for (item of listDistrito; track $index) {
                    <option>{{item.nombre}}</option>
                    }
                </select>

                <span class="input-group-text ms-2"><mat-icon>description</mat-icon></span>
                <select class="form-select" formControlName="tipoComprobante">
                    <option selected>Todos</option>
                    <option>Boleta</option>
                    <option>Factura</option>
                    <option>Anulado</option>
                </select>

                <span class="input-group-text ms-2"><mat-icon>local_shipping</mat-icon></span>
                <select class="form-select" formControlName="estado">
                    <option selected>Todos</option>
                    <option>Pendiente</option>
                    <option>Completado</option>
                    <option>Anulado</option>
                </select>
                <button type="submit" class="btn btn-primary ms-2">Buscar</button>
            </div>
        </form>
        -->




    </div>

    <table mat-table [dataSource]="listRepartos">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>N° Reparto</th>
            <td mat-cell *matCellDef="let item">
                {{formatoId(item.id)}} <br />
                C° -
            </td>
        </ng-container>
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="nombres">Cliente</th>
            <td mat-cell *matCellDef="let item">{{item.cliente?.nombres}}
            </td>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let item">{{formatDate(item.fecha_nac)}}</td>
        </ng-container>
        <ng-container matColumnDef="flete">
            <th mat-header-cell *matHeaderCellDef>Flete</th>
            <td mat-cell *matCellDef="let item">S/{{item.total}} </td>
        </ng-container>
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let item">
                <span class="item__estado" [ngClass]="
                {
                    'item__estado_p': item.estado === 'P',
                    'item__estado_e': item.estado === 'E',
                    'item__estado_a': item.estado === 'A',
                }">
                    {{getEstado(item.estado)}}
                </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="act">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-mini-fab (click)="agregar()" style="background-color: #047CC4; color: white;"
                    matTooltip="Agregar Reparto">
                    <mat-icon>add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let item">
                <div class="estado-content">
                    <div class="estado-icons">
                        <button class="btn__icon" mat-icon-button matTooltip="Ver más" [matMenuTriggerFor]="mas">
                            <mat-icon class="icon__horizontal larger-icon">more_horiz</mat-icon>
                        </button>

                        <mat-menu #mas="matMenu">
                            <button mat-menu-item (click)="openDetalle()">
                                <mat-icon color="primary">visibility</mat-icon>
                                <span>Ver Detalle</span>
                            </button>
                            @if (usuarioService.usuario?.cod_rol !== 'U') {
                            <button mat-menu-item>
                                <mat-icon color="warn">delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                            }
                            <button mat-menu-item (click)="generarComprobante()">
                                <mat-icon>description</mat-icon>
                                <span>Generar Comprobante</span>
                            </button>
                        </mat-menu>
                    </div>

                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row = index; columns: columnas;"
            [ngStyle]="{'background-color': row % 2 === 0 ? '#ffffff' : '#f8f8f8'}" style="height: 70px;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>