<form [formGroup]="formulario" (submit)="filtrar()" class="flex my-4 gap-2 items-end">
    <div>
        <label class="block mb-1 text-sm font-medium text-t">Estado</label>
        <select formControlName="estado"
            class="bg-gray-50 border border-gray-300 text-textos text-sm rounded-lg focus:ring-p1 focus:border-p1 p-2.5">
            <option value="T">Todos</option>
            <option value="S">Activos</option>
            <option value="N">Inactivos</option>
        </select>
    </div>
    <div>
        <label class="block mb-1 text-sm font-medium text-t">Estado Envio</label>
        <select formControlName="estado_envio"
            class="bg-gray-50 border border-gray-300 text-textos text-sm rounded-lg focus:ring-p1 focus:border-p1 p-2.5">
            <option value="T">Todos</option>
            <option value="P">Pendientes</option>
            <option value="E">Entregados</option>
            <option value="A">Anulados</option>
        </select>
    </div>

    <div>
        <label class="block mb-1 text-sm font-medium text-t">N° Reparto</label>
        <input formControlName="num_reparto" type="text" placeholder="Número de reparto"
            class="bg-gray-50 border border-gray-300 text-textos text-sm rounded-lg focus:ring-p1 focus:border-p1 p-2.5">
    </div>
    <div>
        <label class="block mb-1 text-sm font-medium text-t">Nombre Cliente</label>
        <input formControlName="cliente" type="text" placeholder="Cliente"
            class="bg-gray-50 border border-gray-300 text-textos text-sm rounded-lg focus:ring-p1 focus:border-p1 p-2.5">
    </div>

    <div>
        <label class="block mb-1 text-sm font-medium text-t">Desde</label>
        <input formControlName="desde" type="date"
            class="bg-gray-50 border border-gray-300 text-textos text-sm rounded-lg focus:ring-p1 focus:border-p1 p-2.5">
    </div>
    <div>
        <label class="block mb-1 text-sm font-medium text-t">Hasta</label>
        <input formControlName="hasta" type="date"
            class="bg-gray-50 border border-gray-300 text-textos text-sm rounded-lg focus:ring-p1 focus:border-p1 p-2.5">
    </div>

    <div class="flex-auto"></div>
    <app-boton icon="search" text="Buscar" type="submit"></app-boton>
    <app-boton icon="add" text="Añadir" (clickEvent)="toAgregar()"></app-boton>
</form>