<div class="cuerpo">

    <img class="w-96" src="../../../assets/full_logo.png" alt="Logo">

    <div class="card">
        <form [formGroup]="formulario" (submit)="onSubmit()">
            <div class="head">
                <span>Bienvenido</span>
                <p>Gestiona tus envíos de forma rápida y sencilla. ¡Inicia sesión!</p>
            </div>
            <div class="inputs">
                <input type="text" placeholder="Usuario" formControlName="user" required>
                <input type="password" placeholder="Contraseña" formControlName="clave" required>
            </div>
            @if (loading()) {
            <div class="loader"></div>
            }@else {
            <button type="submit">Ingresar</button>
            }
        </form>
    </div>
</div>