<div class="container mt-3">
    
    <div class="d-flex align-items-center" style="color: var(--colorP1);">
        <button mat-icon-button class="align-items-center" (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h2 class="mb-0">Nuevo Reparto</h2>
    </div>

    <app-buscar-cliente-reparto (clienteEmit)="clienteEmit($event)"></app-buscar-cliente-reparto>

    <app-tabla-items-reparto (listEmit)="listEmit($event)"></app-tabla-items-reparto>



    <form [formGroup]="formulario" class="container__bottom">
        <div>
            <div class="input-group">
                <span class="input-group-text">
                    <mat-icon>lock</mat-icon>
                </span>
                <input type="number" class="form-control" placeholder="Clave" formControlName="clave">
            </div>

            <div class="input-group mt-2">

                <span class="input-group-text">
                    <mat-icon>notes</mat-icon>
                </span>
                <input type="text" class="form-control" placeholder="Anotación" formControlName="anotacion">
            </div>
        </div>

        <span class="total ms-2">
            Total S/{{getTotal()}}
        </span>
    </form>




    <div class="d-flex justify-content-end mt-3">
        <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
        &nbsp;
        <button type="button" (click)="guardarReparto()" [disabled]="!formulario.valid" class="btn btn-primary">Guardar</button>
    </div>
</div>